---
//codigo server side Only - momento de construccion Build Time
import Title from "@components/shared/Title.astro";
import PokemonCard from "../components/pokemons/PokemonCard.astro";
import type { PokemonListResponse } from "../interfaces/pokemon-list.response";
import MainLayout from "../layouts/MainLayout.astro";

const resp = await fetch('https://pokeapi.co/api/v2/pokemon?limit=107&offset=386');
const data = await resp.json() as PokemonListResponse;


const id = 7;

const title = "Home"
---
<MainLayout title={title}>
	<Title>Pokémons</Title>
	<hr />

	<section 
		aria-label="Listado de Pokémons"
		class="grid grid-cols-1 sm:grid-cols-3 md:grid-cols-3 gap-4 mt-4">

			{
				data.results.map(({name,url})=>(
					<PokemonCard name={name} url={url} />
				))
			}

	</section>

</MainLayout>